/* =====================BASE===================== */
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul,
ol {
    list-style-type: none;
}

button{
    cursor:pointer;
}

.link{
    text-decoration: none;
}

/* ====================HEADER===================== */

.logo{
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.logo-span{
    color: #4D5AE5;
}

.page-nav-link{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.contact-link{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #434455;
}

.contact-link:hover,
.page-nav-link:hover,
.contact-link:focus,
.page-nav-link:focus{
    color: #404BBF;
}

/* ==================HERO SECTION======================= */

.hero-section {
    background-color: #2e2f42;
}
.hero-title {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: white;
}

.hero-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: white;
    background-color: #4D5AE5;
} 

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* ====================OUR BENEFITS===================== */

.benefits-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.benefits-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ====================OUR TEAM======================== */

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.009em;
    text-transform: capitalize;
    text-align: center;
}

.team-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-position {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50;
    letter-spacing: 0.02em;
    text-align: center;
}

/* =================OUR PORTFOLIO=================== */

.portfolio-section {
    background-color: #F4F4FD;
}

.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.009em;
    text-transform: capitalize;
    text-align: center;
}

.portfolio-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
    text-align: center;
}

.portfolio-item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50;
    letter-spacing: 0.02em;
    text-align: center;
}

/* ======================FOOTER==================== */

.index-footer {
    background-color: #2e2f42;
}

.footer-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.logo-second-span{
    color: #F4F4FD;
}